:root {
  --base-primary: 255, 140, 50;

  --primary: rgba(var(var(--base-primary)));
}

html {
  @apply bg-primary;
  @apply bg-opacity-10;
}

a {
  @apply text-primary;

  &:hover {
    @apply text-primary;
    @apply text-opacity-75;
  }
}

a.a-normal {
  color: currentColor;

  &:hover {
    @apply text-primary;
    @apply text-opacity-75;
  }
}
